<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>

<% if @included == true && @english_word == true %>
    <p><%= @final_score %></p>
<% else %>
  <p>The word doesn't exist!</p>
<% end %>
